.install-app {
  width: calc(100% - 16px);
  height: auto;
  top: calc(50% - 100px);
  & > .container {
    display: flex;
    flex-direction: column;
    & > .title-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > .title__intro {
        display: inline-grid;
        & > :first-child {
          font-weight: var(--semibold);
        }
      }
      & > .btn__install {
        margin: auto;
        width: 50px;
        text-align: center;
        & > a {
          color: blue;
        }
      }
    }
    & > .sperator {
      border-top: 3px solid #e1e4ea;
      height: 1px;
      width: 100%;
      margin: 8px 0px;
    }
  }
}
