$fullWidth: 100%;
$fullHeight: 100%;

.article {
  height: $fullHeight;
  padding: 0px 10px;
  .button-home {
    width: $fullWidth;
    height: 60px;
  }
  .article-list {
    width: $fullWidth;
    height: $fullHeight;
    .article-item {
      background: url('./background-article.png') repeat !important;
      // background-color: var(--backgroundarticle);
      padding: 8px 2px 0px 8px;
      border-radius: 5px;
      //   -webkit-box-shadow: 0 8px 6px -6px black;
      //  -moz-box-shadow: 0 8px 6px -6px black;
      // box-shadow: 0 8px 6px -6px black;
    }
  }
  &.loading {
    height: 100%;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
  }
  &.skeleton {
    background-color: var(--backgroundarticle);
    margin: 30px 0px;
  }
  & > .filter-wrap {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
  }
}

.article-filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  & > .selected-area {
    & > .title {
      color: var(--dark-grey-400);
      font-size: 16px;
      font-weight: var(--semibold);
      margin-right: 8px;
    }

    & > .selected {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  & > .option-area {
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > .title {
      color: var(--dark-grey-400);
      font-size: 16px;
      font-weight: var(--semibold);
    }

    & > .options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > :nth-child(2) {
        margin: 6px 0px;
      }
    }
  }
}
