$fullWidth: 100%;
$fullHeight: 100%;

.article {
  height: $fullHeight;
  padding: 0px 10px;
  .button-home {
    width: $fullWidth;
    height: 60px;
  }
  .article-list {
    width: $fullWidth;
    height: $fullHeight;
    transition: all 0.8s ease;
    .article-item {
      background: url('./background-article.png') repeat !important;
      // background-color: var(--backgroundarticle);
      padding: 8px 2px 0px 8px;
      border-radius: 5px;
      //   -webkit-box-shadow: 0 8px 6px -6px black;
      //  -moz-box-shadow: 0 8px 6px -6px black;
      // box-shadow: 0 8px 6px -6px black;
    }
  }
  &.loading {
    height: 100%;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
  }
  &.skeleton {
    background-color: var(--backgroundarticle);
    margin: 30px 0px;
  }
  & > .filter-wrap {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
  }
}

.article-filter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  & > .selected-area {
    & > .title {
      color: var(--dark-grey-400);
      font-size: 16px;
      font-weight: var(--semibold);
      margin-right: 8px;
    }
    & > .empty {
      font-size: 14px;
      font-style: italic;
      font-weight: var(--medium);
    }

    & > .selected {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  & > .option-area {
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > .title-wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > .title {
        color: var(--dark-grey-400);
        font-size: 16px;
        font-weight: var(--semibold);
      }
    }

    & > .options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > :nth-child(2) {
        margin: 6px 0px;
      }
      & > .btn__filter {
        width: 51px;
        height: 32px;
        font-size: 16px;
        margin-top: 10px;
      }
    }
  }
}

.article-empty {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: url('./background-article.png') repeat !important;
  animation: empty 1s linear 0.4s 1;

  & > span {
    color: var(--neutral-500);
    font-size: 20px;
    margin-top: 8px;
  }
}

@keyframes empty {
  0%,
  25%,
  75%,
  100% {
    transform: rotate(0deg);
  }
  40% {
    transform: scale(1.1);
  }
  45% {
    transform: scale(1.2);
  }
  55% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.4);
  }
}
