.popover-v3 {
  opacity: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  position: absolute;
  font-weight: 400;
  white-space: normal;
  text-align: left;
  cursor: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  background: #ffff;
  padding: 8px;
  border-radius: 4px;
  z-index: 9999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
  border: 1px solid #e1e4ea;
}

.popover-v3-arrow {
  background: 0 0;
  border-style: solid;
  border-width: 4.24264069px;
  display: block;
  height: 8.48528137px;
  position: absolute;
  transform: rotate(45deg);
  width: 8.48528137px;
}

.popover-v3-top {
  bottom: -1.8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-color: transparent #fff #fff transparent;
}
.popover-v3-top-left {
  bottom: -1.8px;
  border-color: transparent #fff #fff transparent;
}

.popover-v3-top-right {
  bottom: -1.8px;
  border-color: transparent #fff #fff transparent;
  right: 6px;
}

.popover-v3--unselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
