.full-content {
  & > .title {
    font-weight: 500;
    font-style: italic;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: var(--semibold);
    font-stretch: normal;
    font-size: 1.3125rem;
    line-height: 1.625;
    font-family: Merriweather, serif;
    line-height: 1.625;
    color: #000;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  & > .content {
    color: #333;
    margin-top: 0px;
    font-weight: 400px;
    .button-more {
      text-decoration: none;
    }
    line-height: 20pt;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 1.125rem;
    line-height: 2;
    font-family: arial;
  }
}

.popup-check-permission {
  display: flex;
  flex-direction: column;
  text-align: center;
  & > .title {
    font-size: 14px;
    font-weight: var(--semibold);
    color: var(--dark-grey-400);
  }
  & > .loading {
    position: absolute;
    top: calc(50% - 22px);
    z-index: 999999;
    left: calc(50% - 22px);
  }
}
