.full-content {
}
.title {
  font-size: 45px;
  font-weight: 500;
  font-style: italic;
}
.content {
  margin-top: 0px;
  font-size: 45px;
  font-weight: 400px;
  .button-more {
    text-decoration: none;
  }
}
