.sidebar-container {
  display: flex;
  align-items: center;
  & > .sidebar-wrap {
    & > .profile {
      position: absolute;
      top: 30px;
      left: 0px;
      right: 0px;
    }
    & > .menu-wrap {
      & > div {
        display: flex;
        width: 90px;
        & > a {
          margin-left: 5px;
          text-decoration: none;
          color:var(--neutral-500);
        }
      }
      & .sperator {
        border-top: 1px solid var(--neutral-400);
        width: 100%;
        margin: 8px 0px;
      }
    }
  }
}
