.sidebar-container {
  display: flex;
  align-items: center;
  & > .sidebar-wrap {
    & > .profile {
      position: absolute;
      top: 30px;
      left: 0px;
      right: 0px;
    }
    & > .menu-wrap {
      & > div {
        display: flex;
        width: 90px;
        & > a {
          margin-left: 5px;
          text-decoration: none;
          color: var(--blue-base);
        }
      }
      & .sperator {
        border-top: 2px solid #e1e4ea;
        width: 100%;
        margin: 8px 0px;
      }
    }
  }
}

@keyframes wave {
  0%,
  25%,
  75%,
  100% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  55% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-8deg);
  }
}
