.container {
  width: 100%;
  position: fixed;
  top: auto;
  right: auto;
  left: auto;
  bottom: 0;
  background-color: antiquewhite;
  display: block;
  opacity: 1;
  background: #fff;
  padding: 8px;
  border-radius: 4px;
  z-index: 9999;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 18%);
  border: 1px solid #e1e4ea;
  //animation-name: animation;
  animation-duration: 900ms;
}
@keyframes animation {
  0% {
    height: 0px;
  }
  5% {
    height: 5px;
  }

  10% {
    height: 10px;
  }
  15% {
    height: 15px;
  }
  20% {
    height: 20px;
  }
  25% {
    height: 25px;
  }

  30% {
    height: 30px;
  }
  35% {
    height: 35px;
  }

  40% {
    height: 40px;
  }
  45% {
    height: 45px;
  }

  50% {
    height: 50px;
  }
  55% {
    height: 55px;
  }

  60% {
    height: 60px;
  }
  65% {
    height: 65px;
  }

  70% {
    height: 70px;
  }
  75% {
    height: 75px;
  }
  80% {
    height: 80px;
  }
  85% {
    height: 85px;
  }
  90% {
    height: 90px;
  }
  95% {
    height: 95px;
  }
  100% {
  }
}
