$FullWidth: 100%;
$FadeInBottom: 0.4s;
$FadeInLeft: 0.4s;
$FadeInTop: 1s;
$FadeInTop: 1s;
$FadeOutLoading: 1s;

.button-home {
  width: $FullWidth;
  height: 20px;
}
:root {
  // font weight
  --bold: 800;
  --semibold: 600;
  --medium: 400;
  --backgroundarticle: #fcfaf6;
}

.backdrop {
  position: fixed;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

//////////////////////// FADE IN POP FROM BOTTOM
.popup-anime-bottom-fade-in {
  bottom: 0;
  -webkit-animation: fade-in-bottom $FadeInBottom linear 1;
  -moz-animation: fade-in-bottom $FadeInBottom linear 1;
  -ms-animation: fade-in-bottom $FadeInBottom linear 1;
}

@-webkit-keyframes fade-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes fade-in-bottom {
  from {
    transform: translateY(100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
//////////////////////// FADE IN POP FROM LEFT
.popup-anime-left-fade-in {
  bottom: 0;
  -webkit-animation: fade-in-left $FadeInLeft linear 1;
  -moz-animation: fade-in-left $FadeInLeft linear 1;
  -ms-animation: fade-in-left $FadeInLeft linear 1;
}

@-webkit-keyframes fade-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-ms-keyframes fade-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
//////////////////////// FADE IN POP FROM TOP
.popup-anime-top-fade-in {
  top: 0;
  -webkit-animation: fade-in-top $FadeInTop linear 1;
  -moz-animation: fade-in-top $FadeInTop linear 1;
  -ms-animation: fade-in-top $FadeInTop linear 1;
}

@-webkit-keyframes fade-in-top {
  from {
    transform: translateY(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-top {
  from {
    transform: translateY(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-ms-keyframes fade-in-top {
  from {
    transform: translateY(-100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//////////////////////// FADE OUT LOADING FROM BOTTOM TO TOP
.loading-anime-fade-out {
  animation: $FadeOutLoading ease-out 0s 1 FadeoutLoading;
}

@keyframes FadeoutLoading {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-line {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-grey-base);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey-300);
}
