.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > .avatar {
      filter: 'grayscale(100%)';
      border-radius: '50%';
      margin-top: '5px';
    }
    & > .name_time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5px;
      & > .name-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > .name {
          font-weight: var(--semibold);
        }
        & > .audio-wrap {
          display: flex;
          margin-left: 16px;
        }
        & > .active {
          border-radius: 10px;
          background-color: var(--neutral-700);
          & > .loaded {
            animation: bell 2.2s linear 0.4s infinite;
          }
        }
      }
    }
  }
  .action:after {
    content: '\2807';
    font-size: 20px;
  }
}
