.podcast-container {
  height: -webkit-fill-available;
  background-image: linear-gradient(
    to right,
    var(--orange-700),
    var(--green-700),
    var(--green-600)
  );
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  .ReactVirtualized__Grid__innerScrollContainer {
    width: 100% !important;
  }
  & > .search {
    margin: 0px 8px;
    padding: 16px 0px 24px 0px;
  }
  .title-common {
    font-size: 16px;
    font-weight: var(--semibold);
    color: var(--dark-grey-400);
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & > .collection-list {
    height: 300px;
    & > .title-wrap {
      @extend .title-common;
    }
    & > .list-wrap {
      height: calc(100% - 40px);
      margin-top: 16px;
    }
    .collection-item {
      display: flex;
      justify-content: center;
      align-items: center;

      // animation: anime-collection-item 2s linear 1s 1;
      & > img {
        border-radius: 10px;
        box-shadow: 0 0 6px 0 rgb(0 0 0 / 18%);
        opacity: 0.6;
        &.selected {
          border: 1px solid red;
        }
      }

      & > span {
        width: 50%;
        font-size: 16px;
        color: var(--grey-700);
        position: absolute;
      }
    }
  }
  & > .podcast-list {
    height: calc(100% - 300px);
    margin-top: 16px;
    & > .title-wrap {
      @extend .title-common;
      margin-bottom: 16px;
    }
    & > .list-wrap {
      height: calc(100% - 40px);
      transition: transform 0.4s ease;
      .audio-item-wrap {
        width: 100%;
        border-radius: 20px;
        & > .audio-item {
          background-image: linear-gradient(
            to right,
            var(--blue-650),
            var(--blue-600),
            var(--blue-500)
          );
          width: 100%;
          height: 60px;
          border-radius: 12px;
          display: flex;
          align-items: center;
          box-shadow: 0 0 2px 0 rgb(0 0 0 / 18%);
          color: var(--drak-grey-base);
          transition: background-image 0.5s ease;
          & > .avatar {
            margin: 16px;
            height: 40px;
            width: 60px;
            & > img {
              border-radius: 10%;
            }
            & > .play__btn {
              position: absolute;
              width: 30px;
              height: 30px;
              top: 15px;
              left: 30px;
            }
          }
          & > .name {
            font-size: 14px;
            width: 56%;
          }
          &:focus {
            background-image: linear-gradient(
              to right,
              var(--blue-400),
              var(--blue-300),
              var(--blue-base)
            );
            color: var(--grey-base);
          }
        }
      }
    }
  }
}

.popup-add-collection {
  display: flex;
  flex-direction: column;
  text-align: center;
  & > .title {
    font-size: 14px;
    font-weight: var(--semibold);
    color: var(--dark-grey-400);
  }
  & > .loading {
    position: absolute;
    top: calc(50% - 22px);
    z-index: 999999;
    left: calc(50% - 22px);
  }
  & > .error {
    text-align: left;
    font-size: 13px;
    margin-bottom: 16px;
    color: var(--red-base);
  }
}

@keyframes anime-collection-item {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

///////// recommend audios
.recommend-container {
  background: url('./background-recommend.png');
  display: flex;
  justify-content: center;
  flex-direction: column;
  & > .title {
    font-size: 14px;
    font-weight: var(--semibold);
    text-align: center;
    margin-top: 20px;
    padding: 0px 8px;
  }
  & > .list {
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 30px;
    &::-webkit-scrollbar {
      display: none;
    }
    & > .recommend-item {
      display: flex;
      flex-direction: row;
      font-size: 12px;
      margin: 8px 0px;
      padding: 6px 6px;
      align-items: center;
      & > span {
        margin: 0px 6px;
      }
      & > .title {
        width: 180px;
        color: var(--blue-400);
      }
      & > .length {
        color: var(--dark-grey-500);
      }
    }
  }
}
